/*
 * Empty Stylesheet file.
 */

.mainFxmlClass {
    -fx-background-radius:0.5em;
    -fx-border-width:1.5;
    -fx-border-radius:0.5em ;
    -fx-border-color:#023358;


}
.button-save{

    -fx-text-fill: #D3D3D3;
    -fx-background-color: #3B5998;

}
.button-cancel{
    -fx-text-fill: #D3D3D3;
    -fx-background-color: #006600;

}
.double-underline {
    -fx-border-color: black, transparent, black;
    -fx-border-width: 0 0 1 0, 0 0 1 0, 0 0 1 0;
    -fx-border-insets: 0 0 1 0, 0 0 2 0, 0 0 3 0;
}
.background-color{
    -fx-border-color: 	#429ef4;
    -fx-border-width: 2;
}

