/*
 * Empty Stylesheet file.
 */

.mainFxmlClass {

}
.border-background{	
    -fx-border-color: #429ef4;
}
.login-background{
    -fx-background-color: 	#ecf0f1;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
}
.login-back{
    -fx-background-color: #498bbf;

}
